<div id="pin_show">
    <div class="col-md-6 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading pin_image">
          <%= image_tag @pin.image.url%>
        </div>
        <div class="panel-body">
          <h1><%= @pin.title %></h1>
          <p><%= @pin.description %></p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              添加者：<%= @pin.user.email %>
            </div>
            <div class="col-md-6 pull-right">
              <%= link_to("编辑照片", edit_pin_path, class: "btn btn-default pull-right")%>
              <%= link_to("删除照片", pin_path, class: "btn btn-default pull-right",method: :delete, data: {confirm: "你确定要删除吗"}) %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
